* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
  }

.app-container {
    display: flex;
    position:relative;
    flex-direction: column;
    min-height: 100vh;
}

.array-container {
    align-items: center;
    display: flex;
    margin-top: 20px;
}

.array-bar {
    background-color: MediumSlateBlue;
    border-radius: 0.5em;
    margin: 0.15%;
}

.navbar{
    height: 80px;
    background-color: #333;
}

#programButtons{
    margin: 20px;
}
#programButtons > button{
    margin: 3px 10px;
}

#algoDescription{
    text-align: center;
    color: #334444;
    margin-top: 10px;
    margin-bottom: 10px;
  }

/* ------------------------- Dropdown Styling ------------------------------ */

.dropdown {
    display: inline-block;
    margin-right: .25rem;
  }
  
  .dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;  
    border: 1px solid transparent;
    outline: none;
    color: white;
    padding: .375rem .75rem;
    background-color: #343a40;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    border-radius: .25rem;
    margin: 0;
    vertical-align: middle;
  }
  
  .dropdown:hover .dropbtn, .dropbtn:focus {
    background-color: rgb(47, 160, 194);
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .show {
    display: block;
  }
  
@media (min-width: 700px) {
    #programButtons{
        margin: 10px;
    }
    #programButtons > button{
        margin: 2px 5px;
    }
}