* {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 1em;
  }

.app-container {
    display: flex;
    position:relative;
    flex-direction: column;
    min-height: 100vh;
}

.array-container {
    align-items: center;
    display: flex;
    margin-top: 20px;
}

.array-bar {
    background-color: rgb(45, 93, 213);
    border-radius: 0.5em;
    margin: 0.15%;
}

.navbar{
    height: 50px;
    background-color: grey;
}

.navbar > button{
    margin: 10px;
}

@media (min-width: 700px) {
    .app-footer {
        justify-content: center;
    }
}